/*variables*/
@slidertextpadd:40px;
@colorYellow:#feb913;
@colorRed:#f05423;
@colorBlue:#329cd6;
@colorViolet:#aa7fc1;
@colorGreen:#7bbd42;
@inputBoxBg: #1a1a1a;
@inputBoxinputBg:#333333;
/*variables*/

/*Common used styles*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200&subset=latin-ext);
*{
	font-family: 'Arial', sans-serif;
  font-size:12px;
	box-sizing:border-box;

}
html,body{

}
input,textarea{
	padding:20px;
}
a:link{
	text-decoration: none;
}
.bgOrange{
	background:@colorYellow;
	color:white;
}
.colorOrange{
	color:@colorYellow;
}
.colorRed{
	color:@colorRed;
}

.colorViolet{
	color: @colorViolet;
}

.bgBlue{
	background:@colorBlue;

}
.bgGreen{
	background:@colorGreen;

}
.bgRed{
   background:@colorRed;

}

.bgViolet{
		background: @colorViolet;
}
.bgPurple{
	background:#aa7fc1;
	color:white;
}
.bgBlack{
	background:#1a1a1a;
	color:white;
}

.fullWidth{
	width:100%;
}
.boxWidth{
	width:1180px;
}
.autoMargin{
	margin:0 auto;
}
.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}
.clearfix{
	clear:both;
}
.servMargin{
	margin-right: 12px;
}
.boxPadding{
	padding:30px;
}
.innerBoxHeight{
	height:600px;
}
.innerBoxWidth{
	width:385px;
}
.boxOpacity{
	opacity: .5;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	z-index:-1;
}
.boxRelative{
	position:relative;
}


.images{
	position: absolute;
	width: 100%;
	z-index: -1;
}

.sectHeaders{
		font-weight: 300;
		font-size: 32px;
		line-height: 32px;
		margin-top: 25px;
}
/*Common used styles*/
.header{
	height:120px;
	border-bottom:4px solid #fc5700;
	box-sizing:border-box;
}
/* top menu and tel number*/
.topMenu{
	height: 300px;
	span{
		position: absolute;
		font-size:22px;
		font-weight: bold;
		i{
			top:20px;
			margin-right: 25px;
			}
	}
	ul{
 	position: relative;
	top:50px;
  li{
  	display:inline-block;
  	text-transform: uppercase;
  	font-family: Tahoma;
  	padding:0px 15px 15px 15px;
  	font-size:1em;
  	cursor:pointer;
  	-webkit-transition: all .25s ease;
  	   -moz-transition: all .25s ease;
  	    -ms-transition: all .25s ease;
  	     -o-transition: all .25s ease;
  	        transition: all .25s ease;
            &:hover{
              border-bottom:5px solid #fc5700;
              color:#fc5700;
            }
  }
}
}

/*slider section*/

.slider{

}
.slider img{
	.images;
	top:120px;
	height:600px;
}
.sliderBox{
	width:650px;
	height: 380px;
	position:relative;
	top:50px;
	z-index:1;
	color:#fff;
	box-sizing:border-box;

  p{
      font-size:1.5em;
      font-weight: bold;
  }
  button{
  	border:1px solid #fff;
  	background:transparent;
  	padding:10px 20px;
  	text-transform: uppercase;
  	margin-left:20px;
  	color: white;
  }

}
/*slider section*/

/*services section*/
.services{
	.servicesContent{
		height: 550px;
		h1{
			margin-top: 36px;
			margin-bottom: 30px;
			line-height: 25px;

		}
	}
}

.servSectSmall{ /*small boxes inside big*/
	height: 200px;
	width: 385px;
	margin-bottom: 12px;
}
.servSectBig{ /*big boxes that contain small */
	height: 412px; /*height for big box*/
	width: 385px;
	color: white;
	float:left;
	h5{
			font-size: 30px;
			font-weight: 300;
			text-align: left;
			margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		font-weight: 400;
		text-align: left;
	}
}
.servSect{
	padding: 25px; /*padding inside all boxes*/
}

/*services section*/

/*subscription section*/
.subscription{
	position:relative;
	height:250px;
	background-image: url(../images/subscribe.png);
	img{
		position: absolute;
		float: right; /*journal image*/
		right: 15%;
		top:70px;
	}
}
.subscribeSect{
	position: absolute;
	top:50px;
	width: 490px;
	left: 30%;  /*style for whole section*/
	h3{
		color: white;
		position: relative;
		text-align: right;
	}
}
.download{
	position: relative; /*input section with submit button*/
	top:30px;
	input{	 /*input. no, srsly*/
		position: absolute;
		top:0px;
		display: inline-block;
		height: 50px;
		width: 290px;
		border: 1px solid white;
		background:rgba(231, 232, 236, 0.5);
		opacity: 70%;
		text-transform: lowercase;
		color: white;
		font-size: 28px;
	}
	button{ /*submit button*/
		top:0px;
		left:290px;
		line-height: 40px;
		position: absolute;
		display: inline-block;
		height: 50px;
		width: 200px;
		font-size: 13px;
		background: @colorBlue;
		color:white;
		border:1px solid white;
		text-align: center;
		letter-spacing: 2px;
	}
}

/*subscription section*/
.clients{ /*our happy clients*/
	height:200px;
	h1{ /*header inside clients section, applied common used class*/
		text-align: center;
	}
	ul{
		width: 900px;
		list-style-type: none;
		li{
			display: inline-block;
			margin-left: 20px;
		}
	}
}
/*testimonial section*/
.testimonial{
	background-image: url(../images/testimonial-background.jpg);
	h1{ /*top header*/
		position: relative;
		top:20px;
		text-align: center;
		opacity: 0.5;
		color: white;
	}
	.testerCard{ /*style for whole card*/
		position: relative;
		left:15%;
		top:20px;
		.testerInfo{ /*section with tester photo and name*/
			position: absolute;
			width: 300px;
			img{
				z-index: 1; /*tester photo*/
				position: relative;
				width: 300px;
				height: 300px;
			}
			div{ /*tester name*/
				z-index: 1;
				text-align: center;
				position: relative;
				top:-5px;
				height: 50px;
				background-color: white;
				text-transform: uppercase;
				line-height: 20px;
				font-size: 13px;
			}
		}
		.testerCardText{ /*text with tester's quote*/
				position: relative;
				top:20px;
				color: white;
				left:280px;
				background-color: rgba(123, 189, 66, 0.6);
				text-align: center;
				width: 680px;
				height: 350px;
				padding: 50px;
		}
	}
}
/*testimonial section*/
/*contact us section*/
.contactUs{
	height:560px;
	position: relative;
	h1{
		text-align: center;
	}
	ul{ /*style for list in center*/
		position: relative;
		top:40px;
		width: 900px;
		list-style-type: none;
		li{
			display: inline-block;
			margin-left: 130px;
			text-align: center;
			i{
				font-size: 72px;
				line-height: 100px;
			}
			p{
				line-height: 15px;
				font-size: 13px;
			}
		}
	}
	.inputBox{ /*big section with inputs*/
		position: relative;
		top:250px;
		width: 1000px;
		height: 300px;
		background: @inputBoxBg;
		padding: 70px;
		.contactsInput{
			width: 420px;
			background-color: @inputBoxinputBg;
			text-align: right;
			padding: 10px;
			text-align:left;
			color:white;
		}
		.contactsInputSmall{ /*two small inputs*/
			height: 50px;
			float: left;
			margin-bottom: 20px;
		}
		.contactsInputBig{ /*one BIG input*/
			height: 120px;
			margin-left: 10px;
			float: right;
			}
			button{ /*submit button*/
				width:80px;
				height: 30px;
				background-color: #1a1a1a;
				color:white;
				position: absolute;
				left:47%;
				bottom: 40px;
			}
	}
}
/*map section*/
.map{
	height:450px;
	background-image: url(../images/map.jpg)
}
/*map section*/
/*footer section*/
.footer{
	height:150px;
	text-align: center;
	ul{
		top:20px;
		position: relative;
		li{
			border: 2px solid white;
			border-radius: 100%;
			display: inline-block;
			margin: 10px;
			padding: 5px;
		}
	}
	.fa{
		cursor: pointer;
		top:15px;
	}
}

/*footer section*/
